<!DOCTYPE html>
<html lang="en">
<head>http://127.0.0.1:5500/templates/index.html
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Link to the main CSS file -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body>

    <div class="login_page">
      <h1>Login Form</h1>

      <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="Enter your username">
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter your password"><br>
        <button type="submit">Login</button>
      </form>
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
    </div>
  

    <!-- Main Content 
    <main id="main">
        <h1>Login Page</h1>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <button type="submit">Login</button>
        </form>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </main> End #main -->



    <!-- Scripts -->
    <!-- Vendor JS Files -->
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Your custom scripts here -->
    <script src="static/js/main.js"></script>
</body>
</html>
