<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- Link to the main CSS file -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body>

  
  

    <!-- Main Content -->
    <div class="login_page">
        <h1>Signup Page</h1>
        <form method="POST">
            <label for="username">Username:</label>
            <input type="Username" name="username" placeholder="Username"><br>
            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email"><br>
            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password"><br>
            <button type="submit">Signup</button>
        </form>
      </div><!-- End #main -->


    <!-- Scripts -->
    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Your custom scripts here -->
    <script src="assets/js/main.js"></script>
</body>
</html>
