body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.app-banner {
    background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-link {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.btn {
    padding: 8px 16px;
    margin-left: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

.hero-section {
    display: flex; /* Use Flexbox */
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Space items evenly along the main axis */
    background-color: #0e1c33;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 50vh;
}

.hero-section h1 {
    font-size: 44px;
    margin-right: auto; /* Push h1 to the left side */
    padding-left: 280px;
}

.hero-section img {
    width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 200px;
}

.delivery-partner, .why-nfz, .explore-model, .human-factors {
    padding: 20px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    flex-basis: 30%;
    background-color: #f9f9f9;
}

.footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}

.explore-btn {
    padding: 10px 20px;
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    cursor: pointer;
}

/* Sign Up - main.css */ 

.sign-up-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.sign-up-form label {
    display: block;
    margin-top: 20px;
}

.sign-up-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.btn {
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Login - main.css */

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.login-form label {
    display: block;
    margin-top: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

/* Dashboard - main.css */

.dashboard-container {
    padding: 20px;
    text-align: center;
}
